<div class="row">
  <div class="col-md-6 offset-md-3">

    <h1>
      <%= @user.username %>
    </h1>


    <ul class="nav nav-tabs">
      <li class="nav-item">
            <%= link_to "Posts", user_path(@user.username), class: "nav-link active" %>
      </li>
      <li class="nav-item">
            <%= link_to "Liked photos", liked_photos_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
            <%= link_to "Feed", feed_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
            <%= link_to "Followers", followers_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
            <%= link_to "Following", leaders_path(@user.username), class: "nav-link" %>
      </li>

    </ul>



  </div>
</div>