<div class="row">
  <div class="col-md-6 offset-md-3">

    <h1>
      <%= @user.username %>
    </h1>


    <ul class="nav nav-pills nav-justified">
      <li class="nav-link">
        <%= link_to "Posts", user_path(@user.username), class: "nav-item" %>
      </li>

      <li class="nav-link">
        <%= link_to "Liked photos", liked_photos_path(@user.username), class: "nav-item" %>
      </li>

      <li class="nav-link">
        <%= link_to "Feed", feed_path(@user.username), class: "nav-item" %>
      </li>

      <li class="nav-link">
        <%= link_to "Followers", followers_path(@user.username), class: "nav-item" %>
      </li>

      <li class="nav-link">
        <a class="nav-link" href="#">Following</a>
      </li>
    </ul>

  </div>
</div>